body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header h1,
main h2 {
    background-color: #003366;
    color: white;
    padding: 10px;
    text-align: center;
}

main h3 {
    padding-left: 15px;
    background-color: #0077CC;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    background-color: #e7e7e7;
    color: #333;
    padding: 5px;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

ul li a:hover {
    background-color: #ccc;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
